# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*.env

# Logs
logs
*.log
npm-debug.log*

# Build outputs
dist/
build/
*.tsbuildinfo

# Database
*.db
*.sqlite

# Docker
.docker/

#nginx
/docker/nginx/ssl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
